{% extends 'base.html' %}
{% block title %}
    {{ object.title }}
{% endblock %}
{% block body %}
    <div class="container">
        {% with subject=course.subject %}
            <h1 class=" border border-2 p-3" style="background-color: RGB(247, 187, 216)">
                {{ object.title }}
            </h1>
            <div class="module border border-2 p-3">
                <h2>Overview</h2>
                <p>
                    <a href="{% url 'course_list_subject' subject.slug %}"
                       class="text-primary fs-3 text-decoration-none">
                        {{ subject.title }}:
                    </a>
                    {{ course.modules.count }} modules.
                    Instructor: {{ course.owner.get_full_name }}
                </p>
                {{ object.overview|linebreaks }}
                {% if request.user.is_authenticated %}
                    <form action="{% url 'student_enroll_course' %}" method="post">
                        {{ enroll_form }}
                        {% csrf_token %}
                        <input value="Enroll Now" type="submit" class="btn btn-success">
                    </form>
                {% else %}
                    <a href="{% url 'student_registration' %}" class="btn btn-success"> Register to Enroll</a>
                {% endif %}
            </div>
        {% endwith %}
    </div>
{% endblock %}