{% extends 'base.html' %}
{% load course %}
{% block title %}
    Module {{ module.order|add:1 }}: {{ module.title }}
{% endblock %}
{% block css %}
    <style>
        .actived {
            background-color: red;
        }

        .no-active {
            background-color: RGB(145, 238, 145);
            color: black;
        }

        .button {
            background: RGB(216, 245, 162);
        }
        li{
            list-style: none;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container">
        {% with course=module.course %}
            <div class="row ">
                <h1 class="text-center text-white bg-secondary mt-1">Course "{{ course.title }}"</h1>
                <div class="contents col-4 border border-4 p-3 bg-secondary">
                    <h3 class="text-white">Modules</h3>
                    <ul id="modules">
                        {% for m in course.modules.all %}
                            <li class="list-item mt-2 text-center {% if m == module %} actived {% else %} no-active{% endif %}"
                                data-id="{{ m.id }}">
                                <a href="{% url 'module_content_list' m.id %}"
                                   class="btn {% if m == module %} text-white actived{% else %} no-active {% endif %}">
                            <span class="">
                                Module <span class="order">{{ m.order|add:1 }}</span>
                            </span>
                                    <br>
                                    <b>{{ m.title }}</b>
                                </a>
                            </li>
                        {% empty %}
                            <li>No Modules yet.</li>
                        {% endfor %}
                    </ul>
                    <p><a href="{% url 'course_module_update' course.id %}" class="btn btn-primary">
                        Edit Module
                    </a>
                        {% if course.modules.count > 0 %}
                            <a href="{% url 'module_content_list' course.modules.first.id %}" class="btn btn-success">
                                Manage Contents
                            </a>
                        {% endif %}
                    </p>
                </div>
                <div class="module col-7 border border-4 p-3 bg-secondary">
                    <h3 class="text-white bg-primary p-2">Module {{ module.order|add:1 }}: {{ module.title }}</h3>
                    <h4 class="text-white">Module contents:</h4>
                    <div id="module-contents ">
                        {% for content in module.contents.all %}
                            <div data-id="{{ content.id }}" class="row border border-2">
                                {% with item=content.item %}
                                    <p class="text-white">{{ item }} <b class="active">({{ item|model_name }})</b></p>
                                    <div class="col-2"></div>
                                    <div class="col-4">
                                        <a href="{% url 'module_content_update' module.id item|model_name item.id %}"
                                           class="btn btn-success mt-2 mb-2">Edit</a>
                                    </div>
                                    <div class="col-4">
                                        <form method="post" action="{% url 'module_content_delete' content.id %}"
                                              class="mt-2 mb-2">
                                            <input value="delete" type="submit" class=" btn btn-danger">
                                            {% csrf_token %}
                                        </form>
                                    </div>
                                {% endwith %}
                            </div>
                        {% empty %}
                            <p class="text-white">This module has no contents yet.</p>
                        {% endfor %}
                    </div>
                    <h3 class="text-white mt-2">Add New Contents.</h3>
                    <ul class="content-types row list-unstyled">
                        <li class="mt-2 col-3">
                            <a href="{% url 'module_content_create' module.id "text" %}" class="btn button">
                                Text
                            </a>
                        </li>
                        <li class="mt-2 col-3">
                            <a href="{% url 'module_content_create' module.id "image" %}" class="btn button">
                                Image
                            </a>
                        </li>
                        <li class="mt-2 col-3">
                            <a href="{% url 'module_content_create' module.id "video" %}" class="btn button">
                                Video
                            </a>
                        </li>
                        <li class="mt-2 col-3">
                            <a href="{% url 'module_content_create' module.id "file" %}" class="btn button">
                                File
                            </a>
                        </li>
                    </ul>

                </div>
            </div>

        {% endwith %}
    </div>
{% endblock %}
{% block domready %}
    $('#modules').sortable(
    {
    stop:function(event,ui)
    {
    modules_order={};
    $('#modules').children().each(function(){
    $(this).find('.order').text($(this).index()+1);
    modules_order[$(this).data('id')]=$(this).index();
    });
    $.ajax({
    type:'POST',
    'url':'{% url 'module_order' %}',
    contentType:'application/json; charset=utf-8',
    dataType:'json',
    data:JSON.stringify(modules_order),
    });
    }
    }
    );
    $('#module-contents').sortable(
    {
    stop:function(event,ui)
    {
    contents_order={};
    $('#module-contents').children().each(function(){
    contents_order[$(this).data('id')]=$(this).index();
    });
    $.ajax({
    type:'POST',
    url:'{% url 'content_order' %}',
    contentType:'application/json; charset=utf-8',
    dataType:'json',
    data:JSON.stringify(contents_order),
    });

    }});

{% endblock %}