{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Edit {{ course.title }}
{% endblock %}
{% block body %}
    <div class="container mt-1 border border-2 p-3">
        <h1 class="text text-primary">Edit "{{ course.title }}"</h1>
        <div class="module container border-2 border-top border-bottom">
            <h2 class="text text-secondary">Course Module</h2>
            <form method="post" action="">
                {{ formset|crispy }}
                {% csrf_token %}
                <input value="Save Modules " type="submit" class="btn btn-success button">
            </form>
        </div>
    </div>
{% endblock %}